/* 
reset browser default styles

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: #f8f8ff;
    height: 100vh;
}

section{
    display: flex;
    flex-direction: column;
    border:2px solid #f8f8ff;
    border-radius: 20px;
    border-width: 2.5px;
    text-align: left;
    padding: 40px;
        box-shadow: 10px 20px 2px -4px #f8f8ff;
}


main{
    text-align: left;
}


h1 {
    margin-top: 50px;
    font-size: 40px;
    padding-bottom: 10px;
}

img{
    text-align: left;
}



ul{
    list-style-position: inside;
}

ul li{
    font-size: 20px;
}