$cc-primary-black: #141413;
$cc-primary-white: #ffffff;
$cc-secondary-white: #FAFAF8;
$cc-gray: #F0EFEB;
$cc-gray-secondary: #475467;
$cc-gray-ternary: #6B7280;
$cc-input-gray: #D1D5DB;
$cc-get-recipe-btn: #D17557;

.cc--container {
    margin: 0 auto;
    min-height: 90vh;
    display:flex; 
    justify-content: center;
    min-width: 150px;
    // width: 100vw; 
    align-items: center;

    .cc--content-container {
        width: 720px;
        box-shadow: 20px 20px 40px $cc-gray;
        background-color: $cc-secondary-white;
    }


}


.cc--header{
    background-color: $cc-primary-white;
    border-bottom: 2px solid $cc-gray;
    display:flex;
    justify-content: center;
    align-items: center;

}

.chef-claude-icon {
    width:43px;
    height: 52px;
    margin-right: 11px;
}

.cc--main-container {
    

    .cc--main-content {
        
        width: 594px;
        margin: 70px auto;
        display:flex;
        justify-content: center;
        flex-direction: column;
        // align-items:center ;
        .cc--form {
            
            .cc--form-input {
                height: 38px;
                width:399px;
                height: 38px;
                border-radius: 6px;
                border: 1px solid $cc-input-gray;
                background-color: $cc-primary-white;
                margin-right: 12px;
            }

            .cc--form-button {
                border: 1px solid $cc-primary-black;
                background-color: $cc-primary-black;
                color: $cc-secondary-white;
                line-height: 20px;
                height: 38px;
                width: 183px;
                border-radius: 6px;
                padding: 9px 17px 9px 17px;
             
            }

            .cc--form-button::before{
                content: "+";
                margin-right: 5px;
            }
        }

        .cc--ingredients-section {
            
            
            

            .cc--ingredients-heading {
                // border:2px solid red;
                margin-top: 48px;
                
                text-align:left;
        }

            .cc--ingredient-list {
                margin-top: 24px;
                margin-bottom: 48px;
                width: 594px;
                text-align: left;
                color: $cc-gray-secondary;
                 
                padding-left: 20px;

                .cc--list-item{ 
                    margin: 18px 0;
                    font-size: 18px;
                    font-weight: 400;
                    text-indent: -6px;
                }
            }

            .cc--get-recipe-container {
                background-color: $cc-gray;
                border-radius: 8px;

                .cc--get-recipe-content {
                    width: 594px;
                    height: 109px;
                    display:flex;
                    text-align: left;
                    .cc--gr-text {
                        
                        margin-left: 42px;
                        width: 340px;
                        // height: 52px;
                        display:flex;
                        // align-items: center;
                        flex-direction: column;
                        
                        justify-content: center;
                        .cc--gr-heading {
                            color: $cc-primary-black;
                            
                        }

                        .cc--gr-p{
                            color: $cc-gray-ternary;
                        }
                    }

                    .cc--gr-button-container {
                         
                        margin-left: 56px;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        .cc--gr-button {
                            background-color: $cc-get-recipe-btn;
                            border:1px solid $cc-get-recipe-btn;
                            border-radius: 6px;
                             
                            width: 115px;
                            color: $cc-secondary-white;
                            
                        }
                    }

                }
            }
        }
    }
}

.cc--main-container {
    
    .cc--suggested-recipe-container{
        
        text-align:left;
        margin-top:60px;
        
        
       
    }
}

.cc--gray-secondary{color: $cc-gray-secondary;}